
<!-- Far apparire solo dopo la compilazione 
del custom menu dello strumento scelto dal 
componente selctor --> 
<div *ngIf="this.customTrainingService.trainingType != null">            
  <app-chrono-time-picker 
    *ngIf="this.customTrainingService.customTrainingsComplete[this.customTrainingService.trainingType].isComplete"
    (definedTime)="onDefinedTime($event)" 
    (actualTime)="onActualTime($event)"
    [chronoType]="'input-clock'">
  </app-chrono-time-picker>
</div>

<app-digital-clock 
  [hours]="this.hours" 
  [minutes]="this.minutes" 
  [seconds]="this.seconds">
</app-digital-clock>