
<!-- Far apparire solo dopo la compilazione 
del custom menu dello strumento scelto dal 
componente selctor --> 
<div *ngIf="this.customTrainingService.trainingType != null">            
  <app-chrono-time-picker 
    *ngIf="this.customTrainingService.customTrainingsComplete[this.customTrainingService.trainingType].isComplete"
    (definedTime)="onDefinedTime($event)" 
    (timeExpired)="onTimeExpired($event)"
    [chronoType]="'input-clock'"
    [canCountdownStart]="true"  
  >
  </app-chrono-time-picker>
</div>

<!-- Countdown del tempo quando abilitato -->
<app-digital-clock 
  *ngIf="this.timeShared.canShowTimer">
</app-digital-clock>