
/* Spariscono le input */
::ng-deep .ngx-timepicker input {
    visibility: collapse;
    font-size: 0 !important;
}

/* The colon disappears. Find another solution */
::ng-deep span.ngx-timepicker__time-colon.ngx-timepicker__control--second {
    font-size: 0;
}

/* the clock is displayed inside the input */
::ng-deep ngx-material-timepicker-toggle.ngx-timepicker__toggle.ng-star-inserted {
    position: absolute;
    left: 0;
    margin-top: 1pc;
}

/* View che permette l'accio del Timepicker a forma di orologio */
::ng-deep ngx-material-timepicker-toggle {
    border-radius: 0;
    background-color: var(--input-disabled); // #BCBCBC ; // rgb(186,186,186)
    width: 93%;
    margin: 2rem;
    border: 3px solid #303030;
    -webkit-box-shadow: 1px 1px 5px 1px #303030; 
    box-shadow: 1px 1px 5px 1px #303030;
}

/* the clock's button is as large as the input */
::ng-deep button.ngx-material-timepicker-toggle {
    background: blue;
    width: 100%; 
}

/* clock icon disappears from the button */
::ng-deep svg.ng-star-inserted {
    visibility: hidden;
}

/* the components arrow disappear */
::ng-deep span.ngx-timepicker-control__arrow {
    visibility: collapse;
}

/* button inside the time picker component is not bigger than container anymore */
::ng-deep .ngx-material-timepicker-toggle[_ngcontent-xwl-c177] {
    width: 100%;
}

/* The input of the input time picker expands to full screen  */
#in-input-timepicker {
    width: 100%;
}

/* Timepicker div text */
#Timepicker-text {
    position: absolute;
    z-index: 1;
    color: var(--grey-text);
    /* Text can't be selected and allows to trigger timepicker */
    pointer-events: none;
}
