<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Sport Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="home-container">
    <img src="assets/logo-sport.png" alt="Sport Tracker Logo" class="logo" />
    <h1>Benvenuto!</h1>
    <p>Monitora le tue sessioni di allenamento, alimentazione e progressi.</p>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card button (click)="navigateTo('register-training')">
            <ion-card-header>
              <ion-icon name="barbell-outline" size="large"></ion-icon>
              <ion-card-title>Registra Allenamento</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card button (click)="navigateTo('report')">
            <ion-card-header>
              <ion-icon name="stats-chart-outline" size="large"></ion-icon>
              <ion-card-title>Report</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card button (click)="navigateTo('food-history')">
            <ion-card-header>
              <ion-icon name="nutrition-outline" size="large"></ion-icon>
              <ion-card-title>Registra Cibo</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card button (click)="navigateTo('gallery')">
            <ion-card-header>
              <ion-icon name="images-outline" size="large"></ion-icon>
              <ion-card-title>Gallery</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>