<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="gallery-container">
    <h2>Your photos</h2>
    <div *ngIf="componentService.photos?.length > 0; else emptyGallery">
      <ion-grid>
        <ion-row>
          <ion-col size="6" sizeMd="4" sizeLg="3" *ngFor="let photo of componentService.photos; let i = index">
            <ion-card class="photo-card">
              <img [src]="photo.webviewPath" [alt]="photo.filepath" (click)="smoothScroll(i)" />
              <ion-card-content>
                <span class="photo-name">{{ photo.filepath }}</span>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ng-template #emptyGallery>
      <div class="empty-gallery">
        <ion-icon name="images-outline" size="large"></ion-icon>
        <p>No photos available.<br>Take or upload a photo to get started!</p>
      </div>
    </ng-template>
  </div>
</ion-content>
