<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="gallery-container">
    <h2>Your photos</h2>
    <!-- Loader -->
    <div *ngIf="isLoading" class="gallery-loader">
      <mat-progress-spinner color="primary" mode="indeterminate" diameter="48"></mat-progress-spinner>
      <div class="empty-gallery">
        <ion-icon name="images-outline" size="large"></ion-icon>
        <p>loading photoes</p>
      </div>
    </div>

    <!-- Timeout errore -->
    <div *ngIf="isTimeout">
      <div class="empty-gallery">
        <ion-icon name="alert-circle-outline" size="large"></ion-icon>
        <p>Error: impossible getting photos.<br>Please try again later.</p>
      </div>
    </div>

    <!-- Foto -->
    <div *ngIf="!isLoading && !isTimeout && componentService.photos?.length > 0">
      <ion-grid>
        <ion-row>
          <ion-col size="6" sizeMd="4" sizeLg="3" *ngFor="let photo of componentService.photos; let i = index">
            <ion-card
              class="photo-card"
              [ngClass]="{ 'selected-photo': isSelectionMode && selectedPhotos.includes(i) }"
              (mousedown)="startLongPress(i)"
              (mouseup)="cancelLongPress()"
              (mouseleave)="cancelLongPress()"
              (click)="isSelectionMode ? togglePhotoSelection(i) : smoothScroll(i)"
              id="gallery-photo-{{i}}"
            >
              <img [src]="photo.webviewPath" [alt]="photo.filepath" />
              <ion-card-content>
                <span class="photo-name">{{ photo.filepath }}</span>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- Menu azioni in basso -->
      <div *ngIf="isSelectionMode" class="photo-action-menu">
        <ion-button color="danger" (click)="deleteSelectedPhotos()" [disabled]="selectedPhotos.length === 0">
          <ion-icon name="trash-outline"></ion-icon>
          Elimina
        </ion-button>
        <ion-button color="medium" (click)="clearSelection()">
          <ion-icon name="close-outline"></ion-icon>
          Annulla
        </ion-button>
      </div>
    </div>
    <div *ngIf="!isLoading && !isTimeout && componentService.photos?.length === 0" class="empty-gallery">
      <ion-icon name="images-outline" size="large"></ion-icon>
      <p>No photos available.<br>Take or upload a photo to get started!</p>
    </div>
  </div>
</ion-content>
