<div id="container" class="44444">

  
  <!-- Resistance choice -->
  <mat-form-field class="element">
    <mat-select [(value)]="choosenResistance" placeholder="Cyclette resistance">
      <mat-option (click)="optionClick()" *ngFor="let res of this.resistances" [value]="res">
        {{ res }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- seat height choice-->
  <mat-form-field class="element">
  <mat-select [(value)]="choosenPosition" placeholder="Legs Position">
    <mat-option (click)="optionClick()" *ngFor="let pos of this.legsPositions" [value]="pos">
      {{ pos }}
    </mat-option>
  </mat-select>
  </mat-form-field>

</div>

  <!-- Input for kcal insertion after cyclette training -->
  <mat-form-field id="kcal-input" *ngIf="this.canConsumeKcalShow">
    <input matInput placeholder="Consumed kcal post training" [value]="this.consumedKcal">
  </mat-form-field>