/* The father of all elements is kept 1rem far from left,
so that all inner elements are kept there too. */
#container {
    display: flex;
    flex-direction: row;
}

/* Each element is going to have this width.
   Class to use everywhere in the code.  */
.element {
    padding: 1rem;
}

/* The kcal input is set under the timer with some margin */
#kcal-input {
    margin: 1rem;
    max-width: 25vw;
}