<div id="container">


  <!-- Resistance choice -->
  <mat-form-field class="element">
    <mat-select [(value)]="this.componentService.choosenResistance" placeholder="Cyclette resistance">
      <mat-option (click)="optionClick()" *ngFor="let res of this.resistances" [value]="res">
        {{ res }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- seat height choice-->
  <mat-form-field class="element">
    <mat-select [(value)]="this.componentService.choosenPosition" placeholder="Legs Position">
      <mat-option (click)="optionClick()" *ngFor="let pos of this.legsPositions" [value]="pos">
        {{ pos }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<!-- Componente timer per la definizione, misura e visualizzazione del tempo -->
<app-timer (definedTime)="definedTime($event)" 
  (actualTime)="actualTime($event)" 
  (timeExpired)="onExpiredTimer($event)"
  [chronoType]="'input-clock'">
</app-timer>

<!-- Input for kcal insertion after cyclette training -->
<mat-form-field id="kcal-input" *ngIf="this.componentService.canConsumeKcalShow">
  <input matInput placeholder="Consumed kcal post training" [value]="this.componentService.consumedKcal">
</mat-form-field>