/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// #region material

// #region select 

/* The panel of the material select get the specified color */
div#mat-select-0-panel {
    background-color: var(--grey-primary);
}

/* Changing selected option color */
span.mat-select-min-line.ng-tns-c169-1.ng-star-inserted {
    color: var(--grey-text);
}

/* Chaning the color of the bottom border of the material select */
.mat-form-field-underline.ng-tns-c166-0.ng-star-inserted {
    filter: invert(1);
}

/* Chaning the color of the arrow icon included into the mterial select*/
.mat-select-arrow.ng-tns-c169-1 {
    color: black;
}

// #endregion

// #endregion

