// #region select training

.select-training {

}

.select-training .width {
    width: 100% !important;
}

#next-training, #you-are-done {
    position:absolute;
    bottom: 3em;
    right: 3em;
}

/* The select width is full screen */
mat-form-field {
    width: 100%;
}

/* Material ckeckbox is moved */
mat-checkbox {
    margin-left: 2%;
}

input {
    color: var(--ion-text-color, white)
}

#last-buttons {
    position: absolute;
    bottom: 3em;
}

/* The stepper container is full scree height */
::ng-deep .mat-horizontal-content-container {
    height: inherit;
}

/** The user can't navigate thought the steps by clicking on them! */
::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

/* Customizing the material button color */
button.mat-focus-indicator.mat-stepper-next.mat-button.mat-button-base {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
}

/* Bottons to navigate the steppers are set to the bottom of the screen */
.stepper-navigators-position {
    position: absolute;
    bottom: 3em;
    right: 3em;
}

/* The 'Previous step' button is hidden */
.hide-previous-stepper {
    display:none;
}

p {
    color: var(--ion-text-color, white);
}

button {
    color: var(--ion-text-color, white);
}

// endregion

// #region page

// endregion

