<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Material select for traninig selection -->
  <mat-form-field appearance="fill">
    <mat-label class="select-training color-text">training types</mat-label>
    <mat-select class="select-training width">
      <mat-option *ngFor="let training of trainings" class="select-training color-sel" [value]="training">
        {{training}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Material input for morning weight insertion -->
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Pre training morning weight" value="70kg">
    </mat-form-field>
  </form>


  <app-chrono-time-picker [chronoType]="'input-clock'"></app-chrono-time-picker>

</ion-content>