// #region select training

.select-training {

}

// .select-training .color-text {
//     color: black;
// }

.select-training .width {
    width: 100% !important;
}



/* The select width is full screen */
mat-form-field {
    width: 100%;
}

/* Material ckeckbox is moved */
mat-checkbox {
    margin-left: 2%;
}

/** The user can't navigate thought the steps by clicking on them! */
::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

/* Bottons to navigate the steppers are set to the bottom of the screen */
.stepper-navigators-position {
    position: absolute;
    bottom: 5%;
}

/* The 'Previous step' button is hidden */
.hide-previous-stepper {
    display:none;
}



// endregion

// #region page

/* The background color of the page changes */
// ion-content {
//     --background: var(--grey-primary)
// }

// endregion

